<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <meta charset="UTF-8">
    <title>Elements</title>
</head>

<body>
<div layout:fragment="main-content">

    <!-- Hero Section -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center justify-content-center">
            <div class="hero-cap hero-cap2 text-center">
                <h2>Elements</h2>
            </div>
        </div>
    </div>

    <!-- Start Align Area -->
    <div class="whole-wrap">
        <div class="container box_1170">

            <!-- Select Element -->
            <div class="single-element-widget mt-30">
                <h3 class="mb-30">Select Box</h3>
                <div class="default-select" id="default-select">
                    <select>
                        <option value="1">English</option>
                        <option value="2">Spanish</option>
                        <option value="3">Arabic</option>
                        <option value="4">Portuguese</option>
                        <option value="5">Bengali</option>
                    </select>
                </div>
            </div>

            <!-- Checkboxes -->
            <div class="single-element-widget mt-30">
                <h3 class="mb-30">Checkboxes</h3>

                <div class="switch-wrap d-flex justify-content-between">
                    <p>01. Sample Checkbox</p>
                    <div class="primary-checkbox">
                        <input type="checkbox" id="default-checkbox">
                        <label for="default-checkbox"></label>
                    </div>
                </div>

                <div class="switch-wrap d-flex justify-content-between">
                    <p>02. Primary Color Checkbox</p>
                    <div class="primary-checkbox">
                        <input type="checkbox" id="primary-checkbox" checked>
                        <label for="primary-checkbox"></label>
                    </div>
                </div>

                <div class="switch-wrap d-flex justify-content-between">
                    <p>03. Confirm Color Checkbox</p>
                    <div class="confirm-checkbox">
                        <input type="checkbox" id="confirm-checkbox">
                        <label for="confirm-checkbox"></label>
                    </div>
                </div>

                <div class="switch-wrap d-flex justify-content-between">
                    <p>04. Disabled Checkbox</p>
                    <div class="disabled-checkbox">
                        <input type="checkbox" id="disabled-checkbox" disabled>
                        <label for="disabled-checkbox"></label>
                    </div>
                </div>

                <div class="switch-wrap d-flex justify-content-between">
                    <p>05. Disabled Checkbox Active</p>
                    <div class="disabled-checkbox">
                        <input type="checkbox" id="disabled-checkbox-active" checked disabled>
                        <label for="disabled-checkbox-active"></label>
                    </div>
                </div>
            </div>

            <!-- Radios -->
            <div class="single-element-widget mt-30">
                <h3 class="mb-30">Radios</h3>

                <div class="switch-wrap d-flex justify-content-between">
                    <p>01. Sample Radio</p>
                    <div class="primary-radio">
                        <input type="radio" id="default-radio" name="exampleRadios">
                        <label for="default-radio"></label>
                    </div>
                </div>

                <div class="switch-wrap d-flex justify-content-between">
                    <p>02. Primary Color Radio</p>
                    <div class="primary-radio">
                        <input type="radio" id="primary-radio" name="exampleRadios" checked>
                        <label for="primary-radio"></label>
                    </div>
                </div>

                <div class="switch-wrap d-flex justify-content-between">
                    <p>03. Confirm Color Radio</p>
                    <div class="confirm-radio">
                        <input type="radio" id="confirm-radio" name="exampleRadios">
                        <label for="confirm-radio"></label>
                    </div>
                </div>

                <div class="switch-wrap d-flex justify-content-between">
                    <p>04. Disabled Radio</p>
                    <div class="disabled-radio">
                        <input type="radio" id="disabled-radio" name="exampleRadios" disabled>
                        <label for="disabled-radio"></label>
                    </div>
                </div>

                <div class="switch-wrap d-flex justify-content-between">
                    <p>05. Disabled Radio Active</p>
                    <div class="disabled-radio">
                        <input type="radio" id="disabled-radio-active" name="exampleRadios2" checked disabled>
                        <label for="disabled-radio-active"></label>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Align Area -->

</div>
</body>
</html>
